@font-face {
    font-family: Google-Sans;
    src: url(fonts/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: San-Francisco;
    src: url(fonts/SFUIText-Regular.otf);
}

@font-face {
    font-family: Prompt;
    src: url(fonts/Prompt-Regular.ttf);
}

*{
    font-family: Prompt, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    overflow: hidden;
    overflow-y: auto;
}

.fontAndroid{
    font-family: Google-Sans, sans-serif;
    color: grey;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(95, 99, 104, 50%);
}

.fontIOS{
    font-family: San-Frnacisco, sans-serif;
    color: gray;
    margin-bottom: 0;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(95, 99, 104, 35%);
}

#shadowHeaderBottom{
    box-shadow: 0 8px 8px rgba(177, 177, 177), 0 4px 4px rgba(177, 177, 177), 0 2px 2px rgba(177, 177, 177);
}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

nav ul li h1 a{
    text-decoration: none;
    font-size: 1.7em;
}

#colorAndroid{
    color: rgba(70, 255, 70, 0.85);
}

#colorIOS{
    color: rgba(70, 215, 255, 0.85);
}

#colorSO{
    color: rgba(70, 255, 193, 0.85);
}

.textoSO{
    margin-bottom: 0;
    font-size: 3.2em;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px rgba(95, 99, 104, 50%);
}

.textoTienda{
    margin: 0;
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke(127, 127, 127);
    text-shadow: 5px 5px 5px rgba(95, 99, 104, 50%);
}

.contenidoSection{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contenidoSection img{
    width: 55%;
    z-index: 1;
    transform: scale(1);
    transition: 250ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: 2.7em;
    margin-right: 2.7em;
    border-radius: 20%;
    box-shadow: 0 4px 8px 0 rgb(60 64 67 / 30%), 0 4px 12px 4px rgb(60 64 67 / 15%);
}

.contenidoSection img:hover{
    transform: scale(0.9);
    transition: 150ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.contenidoSectionNombre{
    text-align: center;
    padding: 0;
    margin-bottom: 0;
    text-shadow: 5px 5px 5px rgba(95, 99, 104, 50%);
}

.poppup{
    z-index: 2;
    transition: all 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    position: absolute;
    background-color: rgba(245, 245, 245, 80%);
    align-items: center;
    margin-top: 76px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgb(60 64 67 / 30%), 0 4px 12px 4px rgb(60 64 67 / 15%);
    opacity: 0;
}

.poppup:hover{
    transform: scale(0.9);
    opacity: 1;
    transition: 150ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#aside{
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: -8px 0 8px rgba(177, 177, 177), -4px 0 4px rgba(177, 177, 177), -2px 0 2px rgba(177, 177, 177);
}

.footerContent{
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 -8px 8px rgba(177, 177, 177), 0 -4px 4px rgba(177, 177, 177), 0 -2px 2px rgba(177, 177, 177);
}

.parallax-content{
    width: 100%;
    z-index: 1;
    transform: translateZ(0px) scale(1);
    perspective: 10px;
    overflow: hidden;
    overflow-y: auto;
    height: 120vh;
}

.no-parallax-content{
    z-index: 3;
    transform: translateZ(0px) scale(1);
}

.iconsFooter{
    width: 7.5vh;
    margin-left: 15px;
    margin-right: 15px;
    
}

.parallax-bg-body{
    background-position: center center;
    transform: translateZ(0) scale(1);
    background-size: cover;
    z-index: -1;
    
}